body{
    width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

    }

.Továbbiopciók{
    width: 300px;
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: wheat;
}

.képek1{
    float: left;
    width: 450px;
    z-index: -1;
}

.képek2{
    float: left;
    width: 450px;
    z-index: -1;
}

.tartalom{
   float: right;
   width: 60%;
   margin-top: 5%;
}

.menü{
    float: left;
    /*width: 40%;*/
}

table td{
    border-bottom: solid 1px rgb(48, 48, 48);
    height: 45px;
    text-align: justify;
    padding-left: 15px;
    width: 34.7%;
}

.menü h1{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lottó{
    background-image: url(../img/kör.png);
    background-image: url(../img/hatter.jpg);
    width: 300px;
    color: white;
}

#kör{
    width: 200px;
    margin: auto;
    margin-left: 50px;
    margin-top: 84px;
    margin-bottom: 100px;
    z-index:-1;

}

#lottó h1{
    margin-top: -230px;
    font-size: 51px;
}




.képek p{
    float: left;
    text-align: center;
    padding: 5px;
}

