body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    width: 1000px;
    }

.Továbbiopciók{
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

.képek img{
    float: left;
    width: 80px;
    padding: 5px;
    z-index:-1
}

.tartalom{
   float: right;
   width: 60%;
   margin-right: -7%;
   margin-top: 5%;
}

.menü{
    float: left;
    width: 35%;
}

table td{
    border-bottom: solid 1px rgb(48, 48, 48);
    height: 45px;
    text-align: justify;
    padding-left: 15px;
    width: 35%;
}

.menü h1{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lottó{
    background-image: url(kör.png);
    background-image: url(hatter.jpg);
    width: 100%;
    color: white;
}

#kör{
    width: 220px;
    margin: auto;
    margin-left: 69px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lottó h1{
    margin-top: -230px;
    font-size: 51px;
}

.képek p{
    float: left;
    text-align: center;
    padding: 5px;
}

#pozició{
    position:relative;
    top:61px;
    right:432px;
    width: 950px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició2{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició3{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició4{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició5{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició6{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició7{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició8{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició9{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

#pozició10{
    position:relative;
    top:37px;
    right:-61px;
    height: 100%;
    margin: auto;
    padding-top: 0;
}

.elsősor div{
   margin-left: 20px;
}
