body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    width: 1000px;
    }

.Továbbiopciók{
    float: left;
    background-color: grey;
    color: white;
}

.képek{
    width: 100px;
}