body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    width: 1000px;
    }

.Továbbiopciók{
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

.képek img{
    float: left;
    width: 14%;
    padding: 5px;
}

.tartalom{
   float: right;
   width: 60%;
   margin-right: -7%;
   margin-top: 5%;
}

.menü{
    float: left;
    width: 35%;
}

table td{
    border-bottom: solid 1px rgb(48, 48, 48);
    height: 45px;
    text-align: justify;
    padding-left: 15px;
    width: 35%;
}

.menü h1{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lottó{
    background-image: url(kör.png);
    background-image: url(hatter.jpg);
    width: 100%;
    color: white;
}

#kör{
    width: 220px;
    margin: auto;
    margin-left: 69px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#lottó h1{
    margin-top: -230px;
    font-size: 51px;
}
.képek p{
    float: left;
    text-align: center;
    padding: 5px;
}
#pozició{
    position:absolute;
    top:195px;
    right:908px;
}
#pozició2{
    position:absolute;
    top:195px;
    right:814px;
}
#pozició3{
    position:absolute;
    top:195px;
    right:720px;
}
#pozició4{
    position:absolute;
    top:195px;
    right:625px;
}
#pozició5{
    position:absolute;
    top:195px;
    right:532px;
}
#pozició6{
    position:absolute;
    top:425px;
    right:908px;
}
#pozició7{
    position:absolute;
    top:425px;
    right:814px;
}
#pozició8{
    position:absolute;
    top:425px;
    right:720px;
}
#pozició9{
    position:absolute;
    top:425px;
    right:625px;
}
#pozició10{
    position:fixed;
    top:425px;
    right:532px;
     width: 20px; 
    height: 20px;
}
