body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    }

.Továbbiopciók{
    float: left;
    background-color: rgb(66, 66, 66);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: wheat;
}

.képek p{
    display: inline-block;
}

.képek img{
    width: 80px;
    float: left;
    padding-top: 20px;
}

.tartalom{
   float: right;
   width: 85%;
   margin-right: -7%;
   margin-top: 5%;
}

.menü{
    float: left;
    width: 18%;
}

table td{
    border-bottom: solid 1px rgb(48, 48, 48);
    height: 45px;
    text-align: justify;
    padding-left: 15px;
    width: 35%;
}

.menü h1{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#lottó{
    background-image: url(../img/kör.png);
    background-image: url(../img/hatter.jpg);
    width: 100%;
    color: white;
}

.top3{
    float: left;
    text-align: left;
    font-size: 40px;
}

#kör{
    width: 200px;
    margin: auto;
    margin-left: 75px;
    margin-top: 80px;
    margin-bottom: 100px;
    z-index:-1;
}

#lottó h1{
    margin-top: -230px;
    font-size: 51px;
    z-index:-1;
}
#lottó img{
    z-index:-1;
}

#xydb{
    margin: auto;
    width: 60%;    
    padding: 15px;
    font-size: 25px;
    margin-top: 1.5%;
}

#eslő{
    position: relative;
    width: 100px;
    height: 100px;
}

#második{
    z-index: 0;
}

#harmadik{
    z-index: 0;
}

.pos1{
    padding-top: 0;
    margin: auto;
    position: relative;
    padding-right: -30px;
}